@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-main: #202020;
  --color-black: #14181c;
  --color-white: #e5e7eb;
  --color-orange: #f0ac7e;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* Main */

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  /* background-color: var(--color-main); */
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border: #14181c solid 2px;
  border-radius: 20px;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
